* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 5px;
}

section {
    margin-bottom: 10px;
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window {
    height: 100px;
    position: absolute;
    background-color: white;
    padding: 20px;
}

.slider-block {
    margin: 0 auto;
    max-width: 45%;
    overflow: hidden;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}

img {
  width: 100%;
  height: auto;
}

.slider-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3445db;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
}

td {
    padding: 5px;
    border: 1px solid black;
}

input {
    display: block;
    margin-bottom: 5px;
}

.tab-container {
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    cursor: pointer;
}

.tab {
    display: inline-block;
    width: fit-content;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

.content {
    display: none;
    padding: 5px;
    border: 1px solid black;
}

.content.active {
    display: block;
}

.notification {
    width: fit-content;
    padding: 15px;
    background-color: #ffe30f;
    color: #fff;
    display: none;
}

.notification.show {
    display: block;
}

.hidden {
    display: none;
}