* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

section {
  margin-bottom: 15px;
}

.photo-block {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}
.photo-block img {
  width: 100px;
}
.photo-block button {
  display: none;
}
.photo-block:-webkit-full-screen {
  align-items: start;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.photo-block:fullscreen {
  align-items: start;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.photo-block:-webkit-full-screen button {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.photo-block:fullscreen button {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}