* {
    margin: 0;
    padding: 0;
    box-sizing: outline-box;
}

*,
*:before,
*:after {
   -moz-box-sizing: outline-box;
   -webkit-box-sizing: outline-box;
   box-sizing: outline-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   outline: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
    padding: 10px;
}

section {
    padding-bottom: 20px;
}

section:nth-child(1) {
    div {
        padding: 10px 0px;
        background-color: #000;
    }
    
    label {
        padding: 10px 10px;
        display: block;
        color: #fff;
    }
    
    input {
        display: none;
        &:checked + p {
            max-height: fit-content;
        }
        &:not(:checked) + p {
            max-height: 0px;
        }
    }
    
    p {
        max-height: 0px;
        padding: 0px 10px;
        overflow: hidden;
        transition: all 1s;
        background-color: #484848;
        color: #fff;
        span {
            display: block;
            padding: 10px 0px;
        }
    }
}

section:nth-child(2) {
    input {
        width: 350px;
        padding: 8px 10px;
        transition: all 0.3s;
        outline: 1px solid #ff1515;
        border: none;
        & + p {
            margin-bottom: 10px;
            color: #ff1515;
        }
        &:valid {
            outline: 1px solid #15ff21;
            + p {
                display: none;
            }
        }
        &:focus {
            outline: 1px solid #4f15ff;
            + p {
                display: none;
            }
        }
        &:focus:valid {
            background: #e8e0ff;
        }
    }

    p {
        margin: 6px 0px;
    }

    button {
        display: block;
        margin-top: 10px;
        padding: 10px 8px;
        background-color: #4f15ff;
        color: #fff;
        border: none;
    }
}

section:nth-child(3) {
    ol {
        list-style: none;
        li {
            min-width: 250px;
            max-width: 350px;
            padding: 10px;
            margin: 8px 0px;
            font-weight: bold;
            border-radius: 8px;
        }
    }
    & > ol > li {
        border-left: 2px solid #ff1515;
    }
    & > ol > li:nth-child(even) {
        background: #ececec;
    }
    & > ol > li:nth-child(1) > ol > li:nth-child(1) {
        border-left: 2px solid #ff9a15;
    }
    & > ol > li:nth-child(1) > ol > li:nth-child(1) li {
        font-weight: normal;
        border-left: 2px solid #ff9a15;
    }
    & > ol > li:nth-child(1) > ol > li:nth-child(1) li:nth-child(2) {
        background-color: #f6f6f6;
    }
    & > ol > li:nth-child(1) > ol > li:nth-child(2) {
        background: #ececec;
        border-left: 2px solid #ff1515;
    }
    & > ol > li:nth-child(1) > ol > li:nth-child(2) li {
        background: #ffffff;
        font-weight: normal;
        border-left: 2px solid #ff9a15;
    }
    & > ol > li:nth-child(1) > ol > li:nth-child(2) li:nth-child(2) {
        background-color: #f6f6f6;
    }
}